<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>

  <header>
    <a class="logo">TripTrove</a>

    <ul class="nav">
      <li><a routerLink="/">INICIO</a></li>
      <li><a routerLink="/about">ACERCA DE</a></li>
      <li><a routerLink="/download">ANDROID</a></li>
      <li><a routerLink="/association">ASOCIATE</a></li>
      
    </ul>
    <a class="login" routerLink="/signUp">REGISTRATE</a>
  </header>
  <body>
    <div class="login-wrapper">
      <h1>Sing In</h1>
      <div class="input-box">
        <label for="usuario">Your email</label>
        <input type="text" name="usuario" id="usuario"  [(ngModel)]="usuario" required placeholder="example@example.com">
        <i class='bx bxs-user'></i>
      </div>
      <div class="input-box">
        <label for="contrasenia">Password</label>
        <input type="password" name="contrasenia" id="contrasenia" [(ngModel)]="contrasenia" required placeholder="Enter your password">
        <i class='bx bxs-lock-alt'></i>
      </div>

      <button type="button" class="btn" (click)="iniciarSesion()">Sing in</button>

      <button type="button" class="google-btn" (click)="iniciarSesionConGoogle()">
        <div class="google-icon">
          <img src="https://www.svgrepo.com/show/475656/google-color.svg" alt="google logo">
        </div>
        <span class="google-text">Sing in with google</span>
      </button>

      <div class="register-link">
        <p>You do not have an account? <a routerLink="/SingUp">Sing up for TripTrove</a></p>
      </div>
    </div>
  </body>
