
<body>
    <header>
        <a href="#" class="logo">TripTrove</a>
        <ul>
            <li><a href="/#">INICIO</a></li>
            <li><a href="/about">ACERCA DE</a></li>
            <li><a href="/login">INICIA SESION</a></li>
        </ul>
    </header>
    <div class="card">Android</div>
    <script type = "text/javascript">
  window.addEventListener("scroll",function(){
      var header = document.querySelector("header");
      header.classList.toggle("sticky",window.scrollY > 0);
  })
</script>
</body>