/* Estilos base */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    position: relative;
}

/* Estilos del sidebar */
#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0));
    z-index: 1;
    transition: width 0.3s ease;
    padding-top: 20px;
}

.form-section {
    display: flex;
    width: 500px;
    align-items: center;
    justify-content: space-between;
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
}

.theme-buttons {
    display: flex;
    gap: 10px; /* Espacio entre botones */
}

.theme-btn {
    border: none;
    background: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 0.3s, box-shadow 0.3s;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Sombra suave para profundidad */
}

.theme-btn:hover, .theme-btn.active {
    background-color: #ff9800; /* Color naranja al pasar el ratón por encima y para el activo */
    color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Sombra más intensa para el efecto de elevación */
}

.material-icons {
    font-size: 24px; /* Ajusta el tamaño de los iconos según necesites */
    color: #333; /* Color inicial de los iconos */
    transition: color 0.3s; /* Transición suave para el cambio de color del icono */
}

.theme-btn.active .material-icons {
    color: #fff; /* Cambio de color del icono a blanco cuando activo */
}

.theme-btn:hover .material-icons {
    color: #fff; /* Cambio de color del icono a blanco al pasar el ratón por encima */
}

#sidebar.collapsed {
    width: 0;
    overflow: hidden;
}

#sidebar-content {
    padding: 20px;
    transition: padding 0.3s ease;
}

#sidebar.collapsed #sidebar-content {
    padding: 0;
}

/* Estilos del contenido principal */
#content {
    margin-left: 25px;
    min-width: 300px;
    padding: 20px;
    transition: margin-left 0.3s ease;
}

#content.collapsed {
    margin-left: 0;
}

.content-section {
    background-color: #fff;
    padding: 20px;
    max-width: 500px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos del botón de alternar */
#toggle-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    padding: 5px;
    background-color: transparent;
    color: #333;
    border: none;
    border-radius: 3px;
    z-index: 2;
    transition: left 0.3s ease;
}

#sidebar.collapsed #toggle-btn {
    left: 10px;
}

/* Estilos adicionales para hacer el diseño más responsivo */
@media only screen and (max-width: 768px) {
    #sidebar {
        width: 200px;
    }

    #content {
        margin-left: 200px;
    }

    #sidebar.collapsed {
        width: 0;
    }

    #content.collapsed {
        margin-left: 0;
    }
}
