<div class="places">
  <div class="place" *ngFor="let place of places">

    <div class="info">
      <h4>{{ place.name }}</h4>
      <p>{{ place.description }}</p>
      <p>Coordenadas: {{ place.latitude }} / {{ place.longitude }}</p>
      
      <div *ngIf="place.categories && place.categories.length > 0">
        <p>Categorías: {{ place.categories.join(', ') }}</p>
      </div>

      <button class="btn btn-outline-danger" (click)="onClickDelete(place)">Borrar</button>
    </div>
  </div>
</div>
