* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

#contenedorPopup {
    overflow-y: auto;
    /* Permite desplazamiento vertical */
    max-height: 400px;
    /* Ajusta la altura máxima según tus necesidades */
}

#ubicacionesList {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.tripTrove {
    color: #000000;
    transition: color 0.9s;
}

header.sticky .tripTrove {
    color: #ffffff;
    text-align: center;
}

.botoncillo {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 15px;
    border-radius: 8px;
    background-color: #f9f9f9;
    flex: 0 1 calc(33.33% - 20px);
    box-sizing: border-box;
    cursor: pointer;
    transition: background-color 0.3s, filter 0.3s;
    text-align: left;
    height: 500px;
}

.botoncillo:hover {
    background-color: #e0e0e0;
}

.botoncillo:active {
    background-color: #e0e0e0;
    filter: brightness(1.2) hue-rotate(30deg);
}

.botoncillo img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 10px;
    display: block;
    margin: 0 auto;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000000;
    transition: 0.9s;
    padding: 10px 100px;
    z-index: 100000;
    font-size: 18px;
}


.search-container {
    display: flex;
    align-items: center;
    margin-left: auto;
    /* Mueve la barra de búsqueda hacia la derecha */
}

.search-container input[type=text] {
    padding: 8px;
    font-size: 16px;
    border: none;
    background-color: #f9f9f9;
    border-radius: 5px;
    flex-grow: 1;
    color: #000000; /* Agrega esta línea para cambiar el color del texto a negro */
}


.search-container button {
    padding: 8px;
    background-color: #f9f9f9;
    border: none;
    border-radius: 5px;
    /* Bordes redondeados */
    cursor: pointer;
}

.search-container button img {
    width: 20px;
    /* Ancho de la imagen de búsqueda */
}

.user-avatar img {
    width: 40px;
    margin-left: 450%;
    border-radius: 50%;
}

.header-divider {
    border: none;
    border-top: 1px solid #000000; /* Cambia el color a negro */
    margin-top: 4%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* También puedes ajustar el color y la opacidad de la sombra */
}


header.sticky .logo,
header.sticky ul li a {
    color: #ffffff;

}

header .logo {
    display: flex;
    position: center;
    margin-right: 85%;
    font-weight: 700;
    color: #000000;
    text-decoration: none;
    font-size: 2em;
    letter-spacing: 2px;
    transition: 0.6s;
}

header ul {
    position: relative;
    display: flex;
    color: #ffffff;
    justify-content: flex-end;
    /* Cambiado a flex-end para alinear a la derecha */
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
    margin-left: 15px;
    /* Espacio entre los elementos */
}

header ul li a {
    position: relative;
    text-decoration: none;
    color: #000000;
    letter-spacing: 2px;
    font-weight: 500;
    transition: 0.5s;
    overflow: hidden;
}


header ul li a::before,
header ul li a::after {
    content: "";
    position: absolute;
    width: 120%;
    /* Ajusta el ancho del subrayado aquí */
    height: 3px;
    /* Ajusta el grosor del subrayado aquí */
    background-color: #000000;
    z-index: -1;
    transition: transform 0.8s;
    border-radius: 5px;
    /* Ajusta el radio del borde aquí */
}

header ul li a::before {
    top: 0;
    left: -10%;
    /* Ajusta el desplazamiento del subrayado aquí */
    transform: scaleX(0);
    transform-origin: right;
}

header ul li a::after {
    bottom: 0;
    right: -10%;
    /* Ajusta el desplazamiento del subrayado aquí */
    transform: scaleX(0);
    transform-origin: left;
}

header ul li a:hover {
    color: #000000;
}

header ul li a:hover::before,
header ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: center;
}

.logo {
    position: absolute;
    top: 10px;
    right: 10px;
}

.titulito {
    text-align: center;
    font-size: 45px;
    padding: 20px;
    font-family: "Poppins", sans-serif;
}

.cajita {
    width: 1200px;
    height: 570px;
    margin: 27px auto 0;
}

.cajita ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 20s infinite alternate ease-in-out;
}

.cajita li {
    width: 100%;
    list-style: none;
    position: relative;
}

.textito {
    font-weight: bold;
    position: absolute;
    text-align: center;
    align-items: center;
    padding: 0 250px;
    top: 250px;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
}

.textito h2 {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 40px;
    font-family: "Poppins", sans-serif;
}

h1 {
    padding: 31px;
    font-weight: bold;
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    text-align: center;
    align-items: center;
}

.cajita img {
    width: 1200px;
    height: 570px;
}

@keyframes slide {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    100% {
        margin-left: -300%;
    }
}

@media (max-width:991px) {
    body {
        padding: 30px;
    }

    .cajita {
        width: 100%;
    }

    .textito {
        font-family: Arial, Helvetica, sans-serif;
        top: 50px;
        padding: 0;
    }

    .textito h2 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 35px;
        margin-bottom: 15px;
    }

    .textito p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
    }
}

.scroll {
    position: relative;
    display: flex;
    width: 700px;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(90deg, transparent,
            #000000 20%, #000000 80%, transparent)
}

header.sticky {
    background: #000000;
    /* Cambia el color de fondo del encabezado a negro */
}

header.sticky,
header.sticky ul li a {
    color: #ffffff;
    /* Cambia el color del texto a blanco */
}


.scroll div {
    white-space: nowrap;
    animation: animate var(--t) linear infinite;
    animation-delay: calc(var(--t) * -1);
}

.scroll div:nth-child(2) {
    animation: animate2 var(--t) linear infinite;
    animation-delay: calc(var(--t) / -2);
}

@keyframes animate {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes animate2 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-200%);
    }
}


.scroll div span {
    display: inline-block;
    letter-spacing: 0.2cm;
    text-transform: uppercase;
    margin: 10px;
    background: #222;
    color: #000000;
    padding: 5px 10px;
    border-radius: 5px;
    transition: 0.5s;
}

.scroll div span:hover {
    background: rgb(105, 1, 224);
    cursor: pointer;
}

.imgbx img {
    max-width: 100px;
    scale: 0.8;
    filter: grayscale(1);
    max-height: 200px;
    min-height: 200px;
    max-width: 200px;
    min-width: 200px;
}

.imgbx img:hover {
    filter: grayscale(0);
}

.desliza {
    display: flex;
    min-height: 50vh;
    align-items: center;
    justify-content: center;

}

#ubicacionesList {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

button {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 15px;
    border-radius: 8px;
    background-color: #f9f9f9;
    flex: 0 1 calc(30% - 20px);
    box-sizing: border-box;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: left;
}

button:hover {
    background-color: #000000;
}

button img {
    max-width: 300px;
    max-height: 300px;
    height: auto;
    border-radius: 8px;
    margin-top: 10px;
    display: block;
    margin: 0 auto;
}

.icon-description {
    margin: 40px;
    margin-bottom: 100px;
    text-align: center;
}

.icon-description i {
    font-size: 50px;
    color: #000000;
    transition: 0.7s;
}

.icon-description:hover i {
    color: #0059ff;
    text-shadow: 0 0 120px #1900ff;
}

.botoncillo {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px;
}

.app-place-list-user {
    display: block;
    margin: 10px auto;
    /* Centra horizontalmente ajustando los márgenes */
    padding: 15px;

    border-radius: 5px;
    text-align: center;
    /* Centra el contenido dentro del contenedor */
    /* Agrega más estilos según tus necesidades */
}
header,
.sidebar {
    position: fixed;
    top: 0;
}

header {
    width: 100%;
    background-color: #ffffff;
    padding: 10px 100px;
    z-index: 100000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sidebar {
    left: 0;
    width: 200px;
    height: 100%;
    margin-top: 80px; /* Iguala la altura del header */
    background-color: #f9f9f9;
    border-right: 2px solid #000000;
    padding: 20px;
    margin-right: 20px; /* Agrega un margen derecho para dejar espacio para el carrusel */
    overflow-y: auto; /* Agrega desplazamiento vertical a la barra lateral si es necesario */
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    display: block;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 0;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.sidebar ul li a:hover {
    background-color: #dddddd;
}

.sidebar-bottom {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 160px;
}

.main-content {
    margin-left: 220px; /* Ajusta el margen izquierdo para dejar espacio para el sidebar */
    padding: 20px;
    overflow-y: auto; /* Agrega desplazamiento vertical al contenido principal si es necesario */
    max-width: calc(100% - 220px); /* El ancho máximo es el ancho total menos el ancho del sidebar */
    width: calc(100% - 240px); /* El ancho total menos el ancho de la barra lateral y el margen derecho */
}

@media (max-width: 1200px) {
    .main-content {
        margin-left: 0; /* Cuando la pantalla es más estrecha, evita que el contenido principal se superponga al sidebar */
    }
}

